body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	text-decoration: none;
}

a:focus-visible,
button:focus-visible {
	outline: thin dotted #c9d1d9;
}

img {
	vertical-align: middle;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

address {
	font-style: normal;
}

hr {
	height: 1px;
	opacity: 0.1;
	margin: 1em 0;
	background-color: currentColor;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	margin: 5px 0;
}
::-webkit-scrollbar-thumb {
	margin: 5px 0;
	border-radius: 15px;
	background-image: linear-gradient(#c9d1d9, #c9d1d9);
}
::-webkit-scrollbar-track {
	margin: 5px 0;
	border-radius: 15px;
}
