:root {
	--main-color: var(--pink-color);
	--hover-color: #fbf1f4;
	--body-color: #f5f6f7;
	--block-color: #181c32;
	--gray-color: #7e8299;
	--white-color: #fcfcfd;
	--pink-color: #f06292;
}

:root {
	--header-height: 64px;
	--header-mobile-height: 48px;
	--main-width: 80vw;
	--main-mobile-width: 100vw;
}

:root {
	--main-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.075);
	--main-border-radius: 4px;
}

@media screen and (max-width: 768px) {
	:root {
		--main-margin: 12px;
		--main-width: calc(100vw - calc(var(--main-margin) * 2));
	}
}
