:root {
	--main-color: var(--pink-color);
	--block-color: #181c32;
	--gray-color: #7e8299;
	--white-color: #fff;
	--pink-color: #f06292;
	--light-pink-color: #fbf1f4;
}

:root {
	--header-height: 64px;
	--header-mobile-height: 48px;
	--main-width: min(80vw, 1400px);
	--main-mobile-width: 100vw;
}

:root {
	--main-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
	--main-border-radius: 4px;
}

:root {
	--main-bg-color: var(--white-color);
	--main-hover-bg-color: var(--light-pink-color);
	--main-font-color: var(--block-color);
	--main-hover-color: var(--light-pink-color);
	--body-color: #f5f6f7;
}
.theme-dark:root {
	--main-bg-color: #242424;
	--main-font-color: #c9d1d9;
	--main-hover-color: #414141;
	--body-color: #242424;
}

@media screen and (max-width: 768px) {
	:root {
		--main-margin: 12px;
		--main-width: calc(100vw - calc(var(--main-margin) * 2));
	}
}
